@import "tailwindcss";

:root {
  --background: #08090a;
  --foreground: #ededed;;
  /*--grid-line: rgba(234, 94, 94, 0.6);*/

  --grid-line: rgba(159, 159, 173, 0.08);
  --grid-line-bright: rgba(159, 159, 173, 0.3);
  --header-background: rgba(9, 9, 9, 0.25);
  --gradient-text-from: rgba(242, 243, 243);
  --gradient-text-to: rgba(72, 79, 86);
  --color-text-accent: rgba(211, 177, 68, 0.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grid-line: var(--grid-line);
  --color-grid-line-bright: var(--grid-line-bright);
  --color-header-background: var(--header-background);
  --color-gradient-text-from: var(--gradient-text-from);
  --color-gradient-text-to: var(--gradient-text-to);

  --color-text-primary: #f7f8f8;
  --color-text-secondary: #d0d6e0;
  --color-text-tertiary: #8a8f98;
  --color-text-quaternary: #62666d;
  --color-text-accent: var(--color-text-accent);

  --font-everett: var(--font-everett);
  --font-roboto-mono: var(--font-roboto-mono);

  --breakpoint-xs: 31rem;
  --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-everett), system-ui, sans-serif;
}

@layer components {
  .nav-link {
    @apply font-roboto-mono uppercase text-text-primary text-xs;
  }
}

@layer utilities {
  .text-gradient {
    @apply  bg-gradient-to-br from-text-primary from-25% to-text-tertiary bg-clip-text text-transparent;
  }

  .font-roboto-mono {
    font-family: var(--font-roboto-mono), monospace;
  }

  .fade-stripe {
    background-image: linear-gradient(
            180deg,
            transparent,
            rgba(8, 9, 10, 0.12) 5%,
            rgba(97, 106, 115, 0.08) 15%,
            rgba(97, 106, 115, 0.08) 50%,
            rgba(8, 9, 10, 0) 70%
    );
  }

  .hero-gradient {
    background-image: linear-gradient(
            180deg,
            transparent 85%,
            rgba(97, 106, 115, 0.02) 100%
    );
  }

  .intro-gradient {
    background-image: linear-gradient(
            180deg,
            rgba(97, 106, 115, 0.02) 0%,
            rgba(97, 106, 115, 0.08) 100%
    );
  }

  .cards-gradient {
    background-image: linear-gradient(
            180deg,
            rgba(97, 106, 115, 0.08) 0%,
            rgba(97, 106, 115, 0.1) 75%,
            transparent 100%
    );
  }
  .card:nth-child(2) {
    @apply mt-[50vh];
  }

  .will-change-filter {
    @apply will-change-[filter];
  }

  .kerning-none {
    font-kerning: none;
  }

  .border-container {
    position: relative;
  }

  .border-container::before {
    @apply absolute -inset-[4px] -z-10 rounded-xl border border-grid-line/80 w-auto max-w-[1000px] lg:mx-auto bg-background xs:-inset-[5px];
    content: "";
  }
}

/* PROJECTOVERVIEWCARDS */

section .intro, section .cards, section .outro {
  @apply relative w-screen bg-background text-text-primary;
}

.intro {
  @apply h-[40svh] pt-40 px-6 pb-6 flex justify-center items-center;
}

.outro {
  @apply h-svh flex justify-center items-center;
}

.cards {
  @apply relative flex flex-col gap-[25svh];
}

.card-marquee {
  @apply w-full absolute top-1/2 left-0 -translate-y-1/2 overflow-hidden;
}

.marquee {
  @apply flex;
}

.marquee h3 {
  @apply text-[11vw] md:text-[9vw] whitespace-nowrap font-roboto-mono md:tracking-[-8px] tracking-[-4px] font-medium mr-6 text-grid-line;
}

.card {
  @apply relative w-screen h-svh p-1;
}

.card-wrapper {
  @apply relative w-full h-full will-change-transform;
}

.card-img {
  @apply absolute w-full h-full overflow-hidden border border-grid-line rounded-[150px];
}

.card-img img {
  @apply will-change-transform scale-100 object-right-bottom;
}

.project-image-container {
  @apply relative w-full h-full overflow-hidden;
}

.project-image {
  @apply absolute h-[calc(100%-48px)] w-[calc(100%-48px)] m-6 rounded-xl overflow-hidden;
}

.card-content {
  @apply absolute w-full h-full flex flex-col z-40;
}

.card-details-outer-container {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-5/6 xl:min-w-2/3;
}

.card-details {
  @apply flex flex-col z-10 p-6 md:p-12 rounded-2xl;
  border: 1px solid transparent;
  background-image:
          linear-gradient(rgba(8, 9, 10, 0.7), rgba(8, 9, 10, 0.8)),
          linear-gradient(to bottom right, var(--color-background), var(--color-grid-line-bright));
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.card-details .card-eyebrow {
  @apply text-text-accent text-[10px] sm:text-xs uppercase font-roboto-mono transform translate-x-5 opacity-0 mb-1;
}

.card-details .card-title {
  @apply w-full text-3xl sm:text-5xl md:text-6xl tracking-tighter leading-tight sm:mt-2 md:pr-12 whitespace-nowrap;
}

.card-details .card-description {
  @apply w-full mb-8 md:mb-12 translate-x-10 opacity-0 text-text-secondary text-sm md:text-lg;
}

.card-actions a.project-link {
  @apply text-text-primary/70 hover:text-text-primary flex items-center gap-2 text-xs font-light transition-colors;
}


.char {
  @apply relative overflow-hidden inline-block;
}

.char span {
  @apply translate-x-full inline-block will-change-transform;
}

.progress-hidden {
  opacity: 0;
}

.scroll-progress {
  transition: opacity 0.5s ease;
}






